* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Finger Paint", cursive;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-image: linear-gradient(-25deg, #f2f2f2 50%, #26262e 50%);
  display: flex;
  align-items: center;
}

.contenedor {
  background-color: #fff;
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 40px;
  border-radius: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.logo {
  color: #000;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

main .contenedor-img {
  max-width: 60%;
  margin-right: 40px;
}

.contenedor-texto .titulo {
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 40px;
}

.contenedor-texto .mascota {
  font-weight: bold;
  color: #c28279;
  font-style: normal;
}

.contenedor-texto p {
  margin-bottom: 40px;
  line-height: 36px;
}

@media screen and (max-width: 915px) {
  main {
    flex-direction: column;
    text-align: center;
  }

  main .contenedor-img {
    margin-bottom: 40px;
  }
}
.boton {
  text-align: center;
  border: 1px solid #fdfdfd;
  padding: 5px 5px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
  top: 300px;
  right: 700px;
  position: relative;
  background-color: black;
}
